@page
@model clients.Pages.Users.AttendanceEmpModel
@{
}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
        padding: 8px;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .status-active {
        color: green;
    }

    .status-inactive {
        color: red;
    }

    a {
        text-decoration: none;
        color: #333;
        padding: 4px 8px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 4px;
    }

        a:hover {
            background-color: #ddd;
        }
</style>
<h2>Management attendance</h2>
<a asp-page="AddAttendance" class="btn btn-primary">Add New Attendance</a>
<br />
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Hour</th>
            <th>OTHour</th>
            <th>Staus</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attendance in Model.attendances)
        {
            <tr>
                <td>@attendance.Date</td>
                <td>@attendance.Hour</td>
                <td>@attendance.OTHour</td>
                @if (attendance.Status == 0)
                {
                    <td>Waiting</td>
                }
                else if(attendance.Status == 1)
                {
                    <td>Approved</td>
                }
                else
                {
                    <td>Expired</td>
                }

                @if (attendance.Type == 0)
                {
                    <td>Offline</td>
                }
                else
                {
                    <td>Online</td>
                }
                
                <td>

                    @if (attendance.Status == 0)
                    {
                        <a asp-page="Delete" asp-route-id="@attendance.Id">Delete</a>
                        <a asp-page="Edit" asp-route-id="@attendance.Id">Edit</a>
                    }
                    else if (attendance.Status == 1)
                    {
                       
                    }else{
                        <a asp-page="Delete" asp-route-id="@attendance.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

