@page
@model clients.Pages.Admins.Attendance.IndexModel
@{
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
        padding: 8px;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .status-active {
        color: green;
    }

    .status-inactive {
        color: red;
    }

    a {
        text-decoration: none;
        color: #333;
        padding: 4px 8px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 4px;
    }

        a:hover {
            background-color: #ddd;
        }
</style>
<h2>Management attendance</h2>
<a asp-page="/Admins/admins/Create" class="btn btn-primary">Add Contract</a>
<table>
    <thead>
        <tr>
            <th>EmployeeName</th>
            <th>Date</th>
            <th>Hour</th>
            <th>OT Hour</th>
            <th>Status</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model.admins)
        {
            <tr>
                <td>@contract.EmployeeName</td>
                <td>@contract.Date.ToString("M/d/yyyy")</td>
                <td>@contract.Hour</td>
                <td>@contract.OTHour</td>
                <td>@contract.Status</td>
                @if (contract.Type == 0)
                {
                    <td>Offline</td>
                }
                else
                {
                    <td>Online</td>
                }
                <td>
                    @if (@contract.Status == "Waiting")
                    {
                        <a asp-page="Approve" asp-route-id="@contract.Id" asp-route-status="1">Approve</a>
                        <a asp-page="Reject" asp-route-id="@contract.Id" asp-route-status="2">Reject</a>
                        <a asp-page="Edit" asp-route-id="@contract.Id">Edit</a>
                        <a asp-page="Delete" asp-route-id="@contract.Id">Delete</a>
                    }
                    else if (contract.Status == "Approved")
                    {

                    }
                    else
                    {
                        <a asp-page="Delete" asp-route-id="@contract.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>